@import url("https://fw.workos.app/style/main.css");

html {

}
body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(30deg, #0e0e45, blue);
    color: white;
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
main {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
}
#workos-logo {
    width: 90%;
    max-width: 600px;
    margin-top: 30px;
    background-color: #111190;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.51);
}
#title-bottom  {
    display: flex;
    justify-content: center;
    align-items: center;
}
#title-bottom h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    height: 80px;
    background-color: #111190;
    z-index: 1;
}
.bl, .br {
    display: flex;
    width: 40px;
    height: 80px;
    background-color: #111190;
}
.bl {
    position: relative;
    transform: skewX(20deg);
    border-radius: 0px 0px 0px 10px;
    left: 15px;
}
.br {
    position: relative;
    transform: skewX(-20deg);
    border-radius: 0px 0px 10px 0px;
    left: -15px;
}
#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
}
#center h2 {
    font-size: 2em;

}
#center p {
    font-size: 1.2em;
    margin-top: 0px;
    padding-bottom: 20px;
    opacity: 0.8;
    text-align: center;
}

/* Promos */
#promos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 100%;
    margin-bottom: 40px;
}
#promos  button {
    border: solid white 0.5px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin: 20px;
}
#promos .center {
    justify-content: center;
    align-items: center;
}
#promo-anual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    flex: 1;
    background-color: #ff5400;
    background: linear-gradient(45deg, #90421c, #ff5400);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
#promo-anual h2 {
    display: flex;
    margin: 0px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: left;
    text-align: center;
    max-width: auto-fill;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    justify-content: center;
}
#promo-anual p {
    padding: 20px;
    padding-top: 0px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.15);
        text-align: center;
}
#anual-price {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 2em;
    margin: 10px;
}
#promo-anual small {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#cuotas {
    background-color: rgba(0, 0, 0, 0.23);
    padding: 5px;
    border-radius: 5px;
}
#promo-descript {
    text-align: left;
    line-height: 1.4;
}
#promo-descript h4 {
    margin: 20px;
}
#promo-descript ul {
    font-size: 0.9em;
}
#promo-descript ul {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    padding-left: 0px;
}
#promo-descript ul li {
    margin-bottom: 20px;
    border-bottom:  solid 0.5px rgba(255, 255, 255, 0.15);
    padding: 5px;
}
#promo-descript  b {
    display: inline-block;
    background-color: #5a2409;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}
#promo-descript small {
    margin: 20px;
}
